<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ling.mapper.ParkingInfoMapper">
  <resultMap id="BaseResultMap" type="com.ling.model.ParkingInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="parking_num" jdbcType="INTEGER" property="parkingNum" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="parking_type" jdbcType="VARCHAR" property="parkingType" />
    <result column="rate" jdbcType="DOUBLE" property="rate" />
  </resultMap>
</mapper>